$backroundColor: #003c02;
$sectionColor: #22531e;
$borderColor: #002307;
$buttonColor: #736900;
$buttonBorderColor: #353100;

html, body
{
    font-size: 50px;
    font-family:Tahoma, sans-serif;
}

body
{
    background:url(./backgorund.png);
    background-size: cover;
}




