html, body {
  font-size: 50px;
  font-family: Tahoma, sans-serif;
}

body {
  background: url(./backgorund.png);
  background-size: cover;
}

.yourCards {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #22531e;
  width: 40vw;
  height: 15vw;
  border-top-left-radius: 1vw;
  border: 0.2vw solid #002307;
  text-align: left;
  padding: 2vw;
  line-height: 6vw;
}

.dealersCards {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #22531e;
  min-width: 40%;
  height: 15vw;
  border-bottom-right-radius: 1vw;
  border: 0.2vw solid #002307;
  text-align: left;
  padding: 2vw;
  line-height: 6vw;
}

.deck {
  position: fixed;
  top: 3vw;
  right: 3vw;
  color: #fff;
  text-shadow: 0.2vw 0.2vw 0.13vw #000, -0.2vw 0.2vw 0.13vw #000, -0.2vw -0.2vw 0 #000, 0.2vw -0.2vw 0 #000;
  font-size: 3.5vw;
}
#deckIcon {
  height: 4vw;
  width: 4vw;
}


.balance {
  position: fixed;
  bottom: 3vw;
  left: 35vw;
  background-color: #22531e;
  width: 15vw;
  height: 5vw;
  text-align: center;
  line-height: 2;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.5vw;
  border: 0.2vw solid #002307;
  color: #fff;
  font-size: 2.5vw;
  text-shadow: 0.2vw 0.2vw 0.13vw #000, -0.2vw 0.2vw 0.13vw #000, -0.2vw -0.2vw 0 #000, 0.2vw -0.2vw 0 #000;
}

.bet {
  font-size: 5vw;
  color: #fff;
  text-shadow: 0.2vw 0.2vw 0.13vw #000, -0.2vw 0.2vw 0.13vw #000, -0.2vw -0.2vw 0 #000, 0.2vw -0.2vw 0 #000;
  position: fixed;
  margin-top: 20%;
  margin-left: 45%;
}

.score {
  border: solid #353100 0.3vw;
  border-radius: 50%;
  padding: 10px;
  background-color: #736900;
  color: #fff;
  text-shadow: 0.2vw 0.2vw 0.13vw #000, -0.2vw 0.2vw 0.13vw #000, -0.2vw -0.2vw 0 #000, 0.2vw -0.2vw 0 #000;
  font-size: 3vw;
}

.title {
  font-size: 5vw;
  color: #fff;
  text-shadow: 0.2vw 0.2vw 0.13vw #000, -0.2vw 0.2vw 0.13vw #000, -0.2vw -0.2vw 0 #000, 0.2vw -0.2vw 0 #000;
}

.newBetEntry {
  position: fixed;
  bottom: 3vw;
  left: 2vw;
  background-color: #22531e;
  width: max-content;
  height: max-content;
  padding: 1vw;
  border: 0.2vw solid #002307;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.form {
  width: 22vw;
  color: #ffffff;
  height: 2.5vw;
  font-size: 1.5vw;
  background-color: #22531e;
}

.betButton {
  background-color: #736900;
  color: #ffffff;
  border: 0.1vw solid #353100;
  border-radius: 0.5vw;
  width: 3vw;
  height: 3vw;
  font-size: 0.7vw;
}

.betButton:hover {
  cursor: pointer;
}

.betButton:hover, .betButton:focus {
  filter: brightness(120%);
  box-shadow: 0.3vw 0.3vw 0.3vw rgb(3, 42, 0);
}

.decition {
  position: fixed;
  bottom: 11vw;
  left: 2vw;
  background-color: #22531e;
  width: fit-content;
  height: fit-content;
  border: 0.2vw solid #002307;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding: 0.7vw;

}

.button {
  background-color: #736900;
  color: #ffffff;
  border: 0.1vw solid #353100;
  border-radius: 0.5vw;
  width: 12vw;
  height: 3vw;
  font-size: 1.3vw;
}

.button:hover {
  cursor: pointer;
}

.button:hover, .button:focus {
  filter: brightness(120%);
  box-shadow: 0.3vw 0.3vw 0.3vw rgb(3, 42, 0);
}

#winScreen {
  background-color: rgba(19, 161, 0, 0.612);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 6vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 0.2vw 0.2vw 0.13vw #000, -0.2vw 0.2vw 0.13vw #000, -0.2vw -0.2vw 0 #000, 0.2vw -0.2vw 0 #000;
  text-align: center;
  padding: 15vw 0;
}

#drawScreen {
  background-color: rgba(34, 34, 34, 0.805);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 6vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 0.2vw 0.2vw 0.13vw #000, -0.2vw 0.2vw 0.13vw #000, -0.2vw -0.2vw 0 #000, 0.2vw -0.2vw 0 #000;
  text-align: center;
  padding: 21vw 0;
}

#loseScreen {
  background-color: rgba(161, 0, 0, 0.612);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: 6vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 0.2vw 0.2vw 0.13vw #000, -0.2vw 0.2vw 0.13vw #000, -0.2vw -0.2vw 0 #000, 0.2vw -0.2vw 0 #000;
  text-align: center;
  padding: 15vw 0;
}/*# sourceMappingURL=style.css.map */